* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 0 auto;
    padding: 50px 0;
}

.row {
    display: flex;
    flex-direction: column;
}